<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="_dbConnection"
          connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StudentAttendanceDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>